body {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  box-sizing: border-box;
}

.navbar {
  background-color: #e6cca8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.navbar-left {
  margin-left: 25px;
}

.navbar-right {
  margin-right: 25px;
}

/* Foro menú desplegable */

.dropbtn {
  background-color: transparent;
  color: brown;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* contenedor del menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 25px;
}

/* contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 3px;
}

/* enlaces del menú desplegable */
.dropdown-content a {
  color: #000;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}

/* Estilos para los enlaces del menú desplegable al pasar el cursor por encima */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el contenido del menú desplegable cuando el usuario pasa el cursor por encima del botón */
.dropdown:hover .dropdown-content {
  display: block;
}





.company-name {
  font-weight: bolder;
  font-size: 35px;
}

.navbar-right a {
  margin-left: 25px;
  text-decoration: none;
  color: #454546;
}

.user-icon {
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  margin-left: 20px;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.welcome-text {
  color: #454546;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 35px;
}

.welcome-text p {
  color: #59595a;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  text-align: center;
  padding: 30px;
}

.welcome-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; /* Agrega un poco de espacio alrededor del párrafo */
}

.welcome-image img {
  width: 495px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ingresar-button {
  background-color: #e6cca8;
  color: #61362e;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

.login-form{
  display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

.login-form label,
.login-form input,
.login-form button {
  display: block;
  margin-bottom: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  text-align: center;
  margin-left: 290px;
}

.login-form input {
  margin-bottom: 20px;
}

/* se repite */
.login-form button {
  margin-top: 15px;
  background-color: #e6cca8;
  color: #454546;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.login-image {
  text-align: center;
}


/* Footer  */
footer {
  background-color: #c8c8c8;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* .footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.footer-logo {
  grid-column: 1 / 2;
  width: 100px; 
  height: auto; 
  margin-left: 145px;
}
 */



/* LoginRegistro */
.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container .image-container {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.form-container .form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 110px;
  margin-top: -100px;
  justify-content: center;
}

.form-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.form-button {
  margin-right: 10px;
  margin-top: 15px;
  background-color: #e6cca8;
  color: #454546;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.button-padres {
  margin-top: 15px;
  background-color: #e6cca8;
  color: #454546;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.form-padres {
  display: flex;
  flex-direction: column;
}

.form-padres input {
  margin-bottom: 10px;
}

.input-spacing {
  margin-bottom: 20px;
}

.terms-container {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
}

.upload-container label {
  font-size: 12px;
}

/* blog */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-left {
  flex: 2;
  padding:30px;
}

.text-right {
  flex: 1;
  margin-left: 20px;
}

.image {
  max-width: 150px;
  padding: 30px;
}

/* foro */
#search-input {
  margin-bottom: 10px;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

#search-input input {
  flex: 1;
  margin-right: 10px;
}

#search-button {
  margin-left: 900px; /* ver */
}

.divider {
  height: 40px;
}
