<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head") %>
    </head>

    <body>
        <%- include("partials/navbar") %>

        <div class="container">
            <div class="text-left">
                <h2>PROYECTO DE LEY</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur ac erat sed velit feugiat congue. Nulla
                    ullamcorper fermentum massa, in tempus nunc laoreet sit
                    amet. Integer auctor venenatis justo non tempor. Lorem ipsum
                    dolor sit amet consectetur, adipisicing elit. Blanditiis
                    quasi neque dolores repudiandae voluptatem voluptate
                    laudantium quos ipsam, fugit quidem!<br />
                    Quam aut fugiat placeat sapiente doloremque assumenda
                    nostrum voluptatum. Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Similique, dolorem. Dolores, natus ullam?
                    Non, sunt. Provident reprehenderit animi mollitia eligendi
                    distinctio aperiam unde ut hic dignissimos veritatis quos,
                    facilis laborum.<br />Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quas, distinctio reiciendis. Explicabo
                    dolores voluptatem incidunt dolore! Eos, iste numquam iure,
                    voluptates vel, nisi dolorem molestias amet consectetur sit
                    recusandae doloribus!<br /><br />Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.<br />Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Excepturi quaerat beatae
                    ullam iure doloremque maiores placeat fuga odit officiis
                    aspernatur repudiandae debitis sit error obcaecati nobis
                    laudantium assumenda, minima quae?
                </p>
            </div>
            <div class="text-right">
                <img class="image" src="/images/Logo_del_Senado_de_Argentina.png" alt="" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur ac erat sed velit feugiat congue. Nulla
                    ullamcorper fermentum massa, in tempus nunc laoreet sit
                    amet. Integer auctor venenatis justo non tempor.
                </p>
            </div>
        </div>

        <footer><%- include("partials/footer") %></footer>
    </body>
</html>
