<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head") %>
  </head>

  <body>
    <%- include("partials/navbar") %>
<body>
    <input type="text" id="search-input" placeholder="Buscar..." >
    <button id="search-button">Buscar</button>
    
    <div class="divider" style="background-color: brown;"></div>
    
    <div id="preguntas" style="margin:40px">
      <div class="pregunta">
        <h3>多Pregunta?</h3>
        <p>Respuesta...</p>
      </div>
      
      <div class="pregunta">
        <h3>多pregunta?</h3>
        <p>Respuesta...</p>
      </div>

      
      <div class="pregunta">
        <h3>多pregunta?</h3>
        <p>Respuesta...</p>
      </div>

      
      <div class="pregunta">
        <h3>多pregunta?</h3>
        <p>Respuesta...</p>
      </div>
    </div>

    <footer>
      <%- include("partials/footer") %>
      </footer>
    </body>
  </html>