<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head") %>
    </head>

    <body>
        <%- include("partials/navbar") %>

        <div class="login-container">
            <div class="login-form">
                <h2>Iniciar sesión</h2>
                <form>
                    <input
                        type="text"
                        id="email"
                        placeholder="Email o usuario"
                        required
                    />
                    <input
                        type="password"
                        id="password"
                        placeholder="Contraseña"
                        required
                    />
                    <button type="submit"><strong>Ingresar</strong></button>
                </form>
            </div>
            <div class="login-image">
                <img
                    src="/images/logoIntegraKids.png"
                    alt="Imagen de inicio de sesión"
                    style="width: 80%; height: auto"
                />
            </div>
        </div>
        <footer><%- include("partials/footer") %></footer>
    </body>
</html>
