<p>&copy; Designed by DevelopGirlsSn | 2023</p>

<!-- <footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <a href="#">
          <img src="/images/developGirls.png" alt="Logo" class="footer-logo">
        </a>
      </div>
      <div class="footer-section">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="#">Acompañamiento</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/foro">Foro</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <div class="social-media-icons">
          <a href="#"><span class="fab fa-facebook-square"></span></a>
          <a href="#"><span class="fab fa-instagram-square"></span></a>
          <a href="#"><span class="fab fa-youtube-square"></span></a>
        </div>
      </div>
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Dirección: SAN NICOLAS DE LOS ARROYOS - CP 2900, BUENOS AIRES - ARGENTINA</p>
        <p>Teléfono: +549 336 4551179</p>
        <p>Email: info@snport.com</p>
      </div>
    </div> -->
  