<nav class="navbar">
    <div class="navbar-left">
        <img
            src="/images/integraKids.png"
            alt="Texto alternativo"
            width="150"
            height="auto"
        />
    </div>
    <div class="navbar-right">
        <a href="/">Inicio</a>
        <a href="#">Acompañamiento</a>
        <a href="#">Ayuda</a>
        <a href="#">Contacto</a>
        <a href="#">Sobre Nosotros</a>
        <a href="/blog">Blog</a>
        <div class="dropdown">
            <button class="dropbtn">
                Foro <!-- <i class="fa fa-caret-down"></i> -->
            </button>
            <div class="dropdown-content">
                <a href="/foro">Foro Padres</a>
                <a href="/foro">Foro Profesionales</a>
            </div>
        </div>
        <a href="/login">
            <i class="fa-regular fa-user user-icon" style="color: #e6cca8"></i
        ></a>
    </div>
</nav>
